.lists {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 10px;
  list-style-type: none;
  padding: 0;
  margin: 35px;
}

.lists > li{
  align-self: stretch;
  /*width: calc(25% - 9px);/*30px to account for the gaps 25% = 4 items per row*/
  min-width: calc(25% - 9px);
}

.match-card {
  background-color: #F1F1F1;
}

.match-card > p{
  padding-left: 16px;
}

::ng-deep.mat-card-content {
  /*change color of underline when focused*/
  padding-left: 16px;
}

.feed-btn {
  margin: 5px;
}

.mat-icon {
  font-size: 150px;
  width: 150px;
}

.emptymatches {
  margin: 35px;
  padding: 200px 0 200px 0;
  text-align: center;
  background: rgb(255,235,39);
  border-radius: 4px;
}

.controls {
  display: flex;
  justify-items: center;
  margin: 35px;
}

.controls mat-spinner {
  margin-left: 10px;
}

.find-match-btn {
  height: 52px;
  margin-left: 10px;
}

 
::ng-deep.mat-form-field-flex {
  /*change color of underline when focused*/
  background-color: #3f51b5 !important;;
  border-radius: 4px!important;
}

::ng-deep.mat-form-field-wrapper {
  /*change color of underline when focused*/
  padding: 0;
  margin: 0;
}

::ng-deep .mat-form-field-label {
  /*change color of label*/
  color: white !important;
}

::ng-deep .mat-input-element {
  /*change color of label*/
  color: white !important;
}
 
mat-datepicker-toggle {
  color: white !important;
}

@media only screen and (max-width: 1000px) {
  .lists {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px;
    list-style-type: none;
    padding: 0;
    margin: 35px;
    flex: 1;
  }
  .lists > li{
    width: 100%;/*30px to account for the gaps 25% = 4 items per row*/
  }
}