<div class="controls">
  <mat-form-field class="date-picker" appearance="fill">
    <mat-label>Choose a date</mat-label>
    <input matInput [value]="currentDate" [attr.disabled]="true" [min]="minDate" [max]="maxDate" [matDatepicker]="$any(picker)" [formControl]="datepicker" (dateChange)="onDateChange($event)">
    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
    <mat-datepicker #picker disabled="false"></mat-datepicker>
  </mat-form-field>

  <button mat-flat-button class="find-match-btn" color="primary" (click)="onMatchSearchClick($event)">Closest match</button>
  <mat-spinner *ngIf="loading" diameter="45"></mat-spinner>
</div>



<div *ngIf="matches.length">
  <ul class="lists">
    <li *ngFor="let match of matches">
      <mat-card class="match-card">
        <mat-card-header>
          <mat-card-title>{{match.awayTeam}} @ {{match.homeTeam}}</mat-card-title>
          <mat-card-subtitle>{{match.gameDate.toLocaleString(undefined, timeOptions)}}</mat-card-subtitle>
        </mat-card-header>
        <mat-card-content id="matchstatus">
          <p>Current game status: {{match.status}}</p>
        </mat-card-content>
        <mat-card-actions>
          <ul id="feed-buttons">
            <li class="feed-btn" *ngFor="let feed of match.feeds">
              <button mat-raised-button color="primary" [routerLink]="['/stream']" [queryParams]="{ date: match.gameDate.toLocaleString('en-US', {timeZone: 'America/Los_Angeles'}), feed: feed.feedId }" >{{feed.feedName}}</button>
            </li>
          </ul>
        </mat-card-actions>
      </mat-card>
    </li>
  </ul>
</div>

<div *ngIf="noMatches" class="emptymatches">
  <mat-icon color="#FFEB3B">warning</mat-icon>
  <h1>There seem to be no matches scheduled for this day.</h1>
</div>


